<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="google-signin-client_id" content="492673640900-j5rvovjaaugb7k4nsrp9vvsrv7jiibmj.apps.googleusercontent.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="./bootstrap-solarized.css">
  <link rel="stylesheet" href="./style.css">
</head>

<body style="padding-top: 120px; min-height:100vh;">
  <div id="app" class="justify-content-center">

      <!--navbar-->
    <nav id="navbar" class="navbar shadow-sm navbar-dark bg-dark justify-content-between px-3 fixed-top">
      <div class="nav-item">
        <!--on click back to home-->
        <a class="navbar-brand m-0" id="nav-title">
            <i class="fas fa-columns"></i>
            Kanban
          </a>
      </div>
      <div class="d-flex flex-row-reverse">
        <!-- <div id="btn-logout" class="nav-item nav-link">Logout</div> -->
        <!-- <img class="mt-1" src="https://ui-avatars.com/api/?background=random&name=atma+joko&rounded=true"
        width="32px" height="32px"> -->
        <div id="btn-login" class="nav-item nav-link">Login</div>
        <div id="btn-register" class="nav-item nav-link">Register</div>
        <div>
        </div>
      </div>
    </nav>
    <!--end navbar-->

    <!--start form login-->
    <div class="p-3 mx-auto rounded bg-gradient" v-if="page === login" style="max-width: 400px; text-align:center" id="loginContainer">
      <form id="login-form" v-on:submit.prevent="postLogin" action="#" method="post">
        <h3 class="">Login</h3>

        <br />
        <div class="mb-3 form-floating">
          <input
            v-model="dataLogin.email"
            type="text"
            class="form-control"
            placeholder="Budi"
            id="emailLogin"
            name="emailLogin"
          />
          <label for="emailLogin" class="col-form-label">Email</label>
        </div>

        <div class="mb-3 form-floating">
          <input
            type="password"
            v-model="dataLogin.password"
            class="form-control"
            placeholder="Sabar"
            id="passwordLogin"
            name="passwordLogin"
          />
          <label for="passwordLogin" class="col-form-label"
            >Password</label
          >
        </div>

        <div class="mb-3 p-3">
          <input
            type="submit"
            id="submitLogin"
            class="btn btn-primary btn-lg "
            value="Login"
          />
        </div>
        <span class="">
          OR
        </span>
        <div class="mb-3 p-3 d-flex justify-content-center">
          <div class="g-signin2 mt-3 mb-3" data-onsuccess="onSignIn"></div>
        </div>
      </form>
    </div>
    <!--end form login-->

    <!--form Registrasi-->
    <div class="p-3 mx-auto shadow bg-gradient" style="max-width: 400px; text-align:center" id="registerContainer">
      <form id="register-form" action="#" method="post">
        <h3>Register</h3>
        <br />
        <div class="mb-3 form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Budi"
            id="fnRegister"
            name="fnRegister"
          />
          <label for="fnRegister" class="col-form-label"
            >First Name</label
          >
        </div>
        <div class="mb-3 form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="quepasa"
            id="lnRegister"
            name="lnRegister"
          />
          <label for="lnRegister" class="col-form-label"
            >Last Name</label
          >
        </div>
        <div class="mb-3 form-floating">
          <input
            type="text"
            class="form-control"
            placeholder="Budi"
            id="emailRegister"
            name="emailRegister"
          />
          <label for="emailRegister" class="col-form-label"
            >Email</label
          >
        </div>

        <div class="mb-3 form-floating">
          <input
            type="password"
            class="form-control"
            placeholder="Sabar"
            id="passwordRegister"
            name="passwordRegister"
          />
          <label for="passwordRegister" class="col-form-label"
            >Password</label
          >
        </div>

        <div class="mb-3 p-3">
          <input
            type="submit"
            id="submitRegister"
            class="btn btn-primary btn-lg"
            value="Register"
          />
        </div>
        OR
        <div class="mb-3 p-3 d-flex justify-content-center">
          <div class="g-signin2 mb-3 mt-3" data-onsuccess="onSignIn"></div>
        </div>
      </form>
    </div>
    <!--end form registrasi-->

    <!--home / organizations page-->
    <div class="container my-3" id="welcome-screen">
      <h2 class="display-4">
        Welcome,<br>
        Joko Quepasa  
      </h2>
      <hr class="my-4">
      <p class="lead fw-bold">Your Organization:</p>

      <div class="row">

        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card card-border-primary p-3 my-2 shadow bg-gradient text-light ">
            <p class="fw-bold fs-3 p-2">
              Create New Organization
            </p>
            <h1>
              + <i class="fas fa-sitemap"></i>
            </h1>
          </div>
        </div>
        <!--card per org-->
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card card-border-primary p-3 my-2 shadow bg-gradient text-light bg-dark">
            <p class="fw-bold fs-3 p-2">
              Helsibuk
            </p>
            <hr class="my-4">
              <div class="row m-2">
                <img class="col-2 p-0 m-0" src="https://ui-avatars.com/api/?background=random&name=atma+joko&rounded=true" width="32px" height="32px">
                &nbsp;&nbsp;Joko sulistyo
              </div>
              <div class="row m-2">
                <img class="col-2 p-0 m-0" src="https://ui-avatars.com/api/?background=random&name=atma+joko&rounded=true" width="32px" height="32px">
                &nbsp;&nbsp;Joko parto
              </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card card-border-primary p-3 my-2 shadow bg-gradient text-light bg-dark">
            <p class="fw-bold fs-3 p-2">
              Helsibuk
            </p>
            <hr class="my-4">
              <div class="row m-2">
                <img class="col-2 p-0 m-0" src="https://ui-avatars.com/api/?background=random&name=atma+joko&rounded=true" width="32px" height="32px">
                &nbsp;&nbsp;Joko sulistyo
              </div>
              <div class="row m-2">
                <img class="col-2 p-0 m-0" src="https://ui-avatars.com/api/?background=random&name=atma+joko&rounded=true" width="32px" height="32px">
                &nbsp;&nbsp;Joko parto
              </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card card-border-primary p-3 my-2 shadow bg-gradient text-light bg-dark">
            <p class="fw-bold fs-3 p-2">
              Helsibuk
            </p>
            <hr class="my-4">

          </div>
        </div>

        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card card-border-primary p-3 my-2 shadow bg-gradient text-light bg-dark">
            <p class="fw-bold fs-3 p-2">
              Helsibuk
            </p>
            <hr class="my-4">
              <div class="row m-2">
                <img class="col-2 p-0 m-0" src="https://ui-avatars.com/api/?background=random&name=atma+joko&rounded=true" width="32px" height="32px">
                &nbsp;&nbsp;Joko sulistyo
              </div>
              <div class="row m-2">
                <img class="col-2 p-0 m-0" src="https://ui-avatars.com/api/?background=random&name=atma+joko&rounded=true" width="32px" height="32px">
                &nbsp;&nbsp;Joko parto
              </div>
          </div>
        </div>
        <!--end card org-->

      </div>
    </div>
    <!--end of organizations page-->

    <!--kanban page-->
    <div class="container">
      <div class="p-1 my-3" id="kanban-title">
        <h1 style="text-align:center">
          <!-- <i class="fas fa-thumbtack"></i> -->
          &nbsp;Organization Name
        </h1>
      </div>
      <!--member information-->
      <div class="row align-items-center justify-content-between p-2" id="members">

        <!--member list-->
        <div class="col-auto">
          <div class="row rounded-pill mx-1 border border-secondary align-items-center justify-content-start">

            <h3 class="p-2 mb-0 col-auto">
              <i class="fas fa-users"></i>
            </h3>

            <div class="p-2 mb-0 col-auto">
              <img src="https://ui-avatars.com/api/?background=random&name=atma+joko&rounded=true"
              width="32px" height="32px">
            </div>

            <div class="p-2 mb-0 col-auto">
              <img src="https://ui-avatars.com/api/?background=random&name=atma+joko&rounded=true"
              width="32px" height="32px">
            </div>

          </div>
        </div>

        <div class="col-auto">
          <form class="form-inline my-2 my-lg-0">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-0">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Add new member">
              <div class="input-group-prepend">
                <div class="input-group-text">+@</div>
              </div>
            </div>
          </form>
        </div> 

        <div class="col-auto">
          <div class="btn btn-outline-secondary btn-sm p-2">
              <i class="far fa-trash-alt"></i>
              <span>
                Del Organization
              </span>
          </div>
        </div>

      </div>

      <div class="row text-light">
        <!--start per category-->
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card border-warning my-2 shadow">

            <div class="card-header">
              <h5 class="text-warning">Backlog</h5>
            </div>
            
            <div class="card-body m-0 p-1">

              <!--sebuah card-->
              <div class="card p-2 shadow-sm my-1">
                <p class="mb-2">sebuah task tapi kalo panjang gitu gimana hayo abc def ghj uik</p>
                <div class=" navbar p-0 mb-0 justify-content-between border-top border-secondary">
                  <span>
                    <img src="https://ui-avatars.com/api/?background=random&name=atma+diboko&rounded=true"
                    width="20px" height="20px">
                  </span>
                  <span class="text-secondary">
                    <i class="far fa-edit"></i>
                  </span>
                </div>
              </div>
              <!--end of sebuah card-->

              <div class="card p-2 shadow-sm my-1">
                <span>sebuah task</span>
              </div>

            </div>
            <!--button add-->
            <div>
              <div class="btn btn-secondary btn-block">
                + add new task
              </div>
            </div>

          </div>
        </div>
        <!--end per category-->

        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card border-primary my-2 shadow">
            <div class="card-header">
              <h5 class="text-warning">Backlog</h5>
            </div>
            
            <div class="card-body m-0 p-1">
              <!--isi card-->
            </div>

            <div>
              <div class="btn btn-secondary btn-block">
                + add new task
              </div>
            </div>

          </div>
        </div>

        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card border-info my-2 shadow">

          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3">
          <div class="card border-success my-2 shadow">

          </div>
        </div>
      </div> <!--end of kanban board-->

    </div> <!-- end of kanban page-->
  </div> <!--div nya si app-->

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./main.js"></script>

</body>
</html>